# alertapi/values.yaml

global:
  # Kubernetes Namespace'i
  namespace: xhcp
  # Deployment, Service, Label ve Selector adı
  appName: xhcp-test-alertapi
  # ConfigMap adı ve volumeMount subPath'i için kullanılan prefix
  appPrefix: xhcp-test
  # Ortak Altyapı Servisleri için Domain Soneki (Boş bırakılabilir)
  commonSuffix: stack

replicaCount: 1

image:
  repository: io.tradesoft.com.tr/xhcp/alertapi
  tag: dev
  pullPolicy: IfNotPresent
  
# Konfigürasyon Ayarları
config:
  # ENV değişkenleri için referans alınan ConfigMap'in adı
  configMapKeyRefName: xhcp-test-alertapi-config
  
  # ----------------------------------------------------
  # ConfigMap İçindeki Değişkenler (Vault/Ortam Bağımlı)
  # ----------------------------------------------------
  
  # Loglama Ayarları
  logging:
    elk:
      enabled: true
      host: elasticsearch 
      username: elastic
      password: "<path:xhcp-test-alertapi/data/values/#loggingElkPassword>" 
      
  # Kafka Ayarları
  kafka:
    # Kafka şifreli ise 'true', değilse 'false'. ConfigMap içeriğini değiştirir.
    securityEnabled: true 
    secure:
      bootstrapservers: "<path:xhcp-test-alertapi/data/values/#configKafkaSecureBootstrapservers>"
      saslpassword: "<path:xhcp-test-alertapi/data/values/#configKafkaSecureSaslpassword>" 
      saslusername: "<path:xhcp-test-alertapi/data/values/#configKafkaSecureSaslusername>"
    insecure:
      bootstrapservers: "<path:xhcp-test-alertapi/data/values/#configKafkaInsecureBootstrapservers>"

  # Redis Ayarları
  redis:
    host: haproxy
    port: 6379
    password: "<path:xhcp-test-alertapi/data/values/#redisPassword>" 

# Kubernetes Kaynak Limitleri
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 20m
    memory: 100Mi

# Ingress Ayarları
ingress:
  enabled: true
  host: "<path:xhcp-test-alertapi/data/values/#ingressHost>" 
  rewriteTarget: /$2
