# alertapi/values.yaml

global:
  # Kubernetes Namespace'i
  namespace: "<path:xhcp-test-alertapi/data/values/#namespace>" 
  # Deployment, Service, Label ve Selector adı
  appName: "<path:xhcp-test-alertapi/data/values/#appName>" 
  # ConfigMap adı ve volumeMount subPath'i için kullanılan prefix
  appPrefix: "<path:xhcp-test-alertapi/data/values/#appPrefix>" 
  # Ortak Altyapı Servisleri için Domain Soneki (Boş bırakılabilir)
  commonSuffix: "<path:xhcp-test-alertapi/data/values/#commonSuffix>" 

replicaCount: "<path:xhcp-test-alertapi/data/values/#replicaCount>"

image:
  repository: "<path:xhcp-test-alertapi/data/values/#imageRepository>"
  tag: "<path:xhcp-test-alertapi/data/values/#imageTag>"
  pullPolicy: "<path:xhcp-test-alertapi/data/values/#imagePullPolicy>"
  
# Konfigürasyon Ayarları
config:
  # ENV değişkenleri için referans alınan ConfigMap'in adı
  configMapKeyRefName: "<path:xhcp-test-alertapi/data/values/#configConfigMapKeyRefName>" 
  
  # ----------------------------------------------------
  # ConfigMap İçindeki Değişkenler (Vault/Ortam Bağımlı)
  # ----------------------------------------------------
  
  # Loglama Ayarları
  logging:
    elk:
      enabled: true
      host: "<path:xhcp-test-alertapi/data/values/#loggingElkHost>" 
      username: "<path:xhcp-test-alertapi/data/values/#loggingElkUsername>"
      password: "<path:xhcp-test-alertapi/data/values/#loggingElkPassword>" 
      
  # Kafka Ayarları
  kafka:
    # Kafka şifreli ise 'true', değilse 'false'. ConfigMap içeriğini değiştirir.
    securityEnabled: "<path:xhcp-test-alertapi/data/values/#configKafkaSecurityEnabled>" 
    secure:
      bootstrapservers: ""
      saslpassword: "" 
      saslusername: ""
    insecure:
      bootstrapservers: "<path:xhcp-test-alertapi/data/values/#configKafkaInsecureBootstrapservers>"

  # Redis Ayarları
  redis:
    host: "<path:xhcp-test-alertapi/data/values/#redisHost>" 
    port: "<path:xhcp-test-alertapi/data/values/#redisPort>"
    password: "<path:xhcp-test-alertapi/data/values/#redisPassword>" 

# Kubernetes Kaynak Limitleri
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 20m
    memory: 100Mi

# Ingress Ayarları
ingress:
  enabled: true
  host: "<path:xhcp-test-alertapi/data/values/#ingressHost>" 
  rewriteTarget: /$2
