apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "session-manager.configMapName" . }}
  namespace: {{ .Values.global.namespace }}
data:
  {{ .Values.global.appPrefix }}-session-manager-appsettings.k8s.json: |
    {     
    "Logging": {
            "LogLevel": {
                "Default": "Information",
                "Microsoft": "Warning",
                "Microsoft.Hosting.Lifetime": "Information"
            }
        },
        "Serilog": {
            "Using": [
                "Serilog.Sinks.Elasticsearch"
            ],
            "MinimumLevel": {
                "Default": "Information",
                "Override": {
                    "Microsoft": "Warning",
                    "System": "Warning",
                    "Microsoft.AspNetCore.HttpLogging": "Information",
                    "Microsoft.AspNetCore.Hosting.Diagnostics": "Information",
                    "Microsoft.AspNetCore.Mvc.Infrastructure": "Warning",
                    "Microsoft.AspNetCore.Routing": "Warning"
                }
            },
            "WriteTo": [{
                    "Name": "Elasticsearch",
                    "Args": {
                        "nodeUris": {{ printf "http://%s:%s@%s:9200" 
                             .Values.config.logging.elk.username 
                             .Values.config.logging.elk.password 
                             (include "session-manager.fullHostName" (dict "serviceName" .Values.config.logging.elk.host "suffix" .Values.global.commonSuffix)) | quote }},
                        "batchAction": "Create",
                        "indexFormat": {{ printf "%s-log-%s" .Values.config.env .Values.global.appName | quote }},, 
                        "customFormatter": "Serilog.Formatting.Elasticsearch.ElasticsearchJsonFormatter, Serilog.Formatting.Elasticsearch",
                        "autoRegisterTemplate": true,
                        "typeName": null,
                        "detectElasticsearchVersion": true,
                        "InlineFields": true
                    }
                }
            ]
    },        
    "MssqlDbConfig": {
      "ConnectionString": "Application Name=xHCP.Conn.Mssql.Test;data source=10.0.155.5;initial catalog=gtpbrdbtsdev;user id=10.0.155.5;Password=10.0.155.5;persist security info=True;"
    },
    "AltibaseDbConfigXMobile": {
      "ConnectionString": "DSN=altibase.common;uid=XMOBILE;pwd=XMOBILE;NLS_USE=UTF8;PORT=20300;Pooling=true;",
      "InitialCatalog": "XMOBILE",
      "CacheEnvironment": "X"
    },
    "Redis": {
      "Host": {{ include "session-manager.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
      "Port": {{ .Values.config.redis.port }},
      "Password": "{{ .Values.config.redis.password }}",
      "AllowAdmin": false,
      "ClientName": "IDM",
      "ReconnectRetryPolicy": 5000,
      "AbortOnConnectFail": false,
      "Configuration": {{ include "session-manager.redisConfiguration" . }}
    },
    "RedisLoginHistory": {
      "Name": "RedisLoginHistory",
      "Host": {{ include "session-manager.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
      "Port": {{ .Values.config.redis.port }},
      "Password": "{{ .Values.config.redis.password }}",
      "AllowAdmin": false,
      "ClientName": "Backoffice",
      "ReconnectRetryPolicy": 5000,
      "AbortOnConnectFail": false
    },
    {{- if .Values.config.kafka.securityEnabled -}}
    "KafkaProducer": {
      "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
      "saslmechanism": "ScramSha512",
      "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
      "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
      "securityprotocol": "SaslPlaintext"
    },
    "KafkaConsumer": {
      "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
      "groupid": "xHCP.tradesoft-xhcp-session-manager",
      "enableautocommit": true,
      "statisticsintervalms": 5000,
      "sessiontimeoutms": 6000,
      "autooffsetreset": 0,
      "enablepartitioneof": true,
      "saslmechanism": "ScramSha512",
      "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
      "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
      "securityprotocol": "SaslPlaintext"
    }
    {{- else -}}
    "KafkaProducer": {
      "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}"
    },
    "KafkaConsumer": {
      "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}",
      "groupid": "xHCP.tradesoft-xhcp-session-manager",
      "enableautocommit": true,
      "statisticsintervalms": 5000,
      "sessiontimeoutms": 6000,
      "autooffsetreset": 0,
      "enablepartitioneof": true
    }
    {{- end }}
    }