apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "identityserver.configMapName" . }}
  namespace: {{ .Values.global.namespace }}
data:
  {{ .Values.global.appPrefix }}-identityserver-appsettings.k8s.json: |
    {
      {{- if .Values.config.isProd }}
      "DatavendorIdentityServerSettings": {
        "Url": "https://authio.tradesoft.com.tr",
        "ClientId": "{{ .Values.config.datavendor.clientId }}",
        "ClientSecret": "{{ .Values.config..clientSecret }}"
      },
      {{- else }}
      "DatavendorIdentityServerSettings": {
        "Url": "https://testauthio.tradesoft.com.tr",
        "ClientId": "{{ .Values.config.datavendor.clientId }}",
        "ClientSecret": "{{ .Values.config..clientSecret }}"
      },
      {{- end }}
      "RbApiClient": {
        "URL": {{ printf "http://%s:8080/RBApi/" (include "identityserver.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix)) | quote }}
      },
      "TSAuthAPIClientSettings": {
        "Name": "TSAuthAPIClient",
        "Url": "https://ts.tradesoft.com.tr/MobSSO/"
      },
      "NotificationAPIClientSettings": {
        "Name": "NotificationAPIClient",
        "Url": "http://tradesoft-xhcp-notificationapi"
      },
      "IdentityServer": {
        "Uri": "http://tradesoft-xhcp-identityserver",
      },
      "IdentityServerSettings": {
        "AesKey": "yqqNakaqF53IFP2RDXhI9llWhNhXhgYh",
        "OTPExpSeconds": 120
      },
      "TFACredentialSettings": {
        "AccountTitle": "xMobile",
        "SecretKey": "f68f1fe894d548a1bbc66165c46e61eb"
      },
      "Logging": {
            "LogLevel": {
                "Default": "Information",
                "Microsoft": "Warning",
                "Microsoft.Hosting.Lifetime": "Information"
            }
        },
        "Serilog": {
            "Using": [
                "Serilog.Sinks.Elasticsearch"
            ],
            "MinimumLevel": {
                "Default": "Information",
                "Override": {
                    "Microsoft": "Warning",
                    "System": "Warning",
                    "Microsoft.AspNetCore.HttpLogging": "Information",
                    "Microsoft.AspNetCore.Hosting.Diagnostics": "Information",
                    "Microsoft.AspNetCore.Mvc.Infrastructure": "Warning",
                    "Microsoft.AspNetCore.Routing": "Warning"
                }
            },
            "Filter": [{
                    "Name": "ByExcluding",
                    "Args": {
                        "expression": "RequestPath = '/connect/introspect' or RequestPath = '/.well-known/openid-configuration/jwks' or RequestPath = '/.well-known/openid-configuration' or loginResponse.MessageCode = 'ERRORMSG_CHECK_CREDENTIALS' or  loginResponse.MessageCode = 'ERRORMSG_MULTIPLE_CONTACTS_FOUND' or  loginResponse.MessageCode = 'WRONGUSERPASS'  or  loginResponse.MessageCode = 'ERRorMSG_LOGIN_BLOCKED_FROM_LOGIN_FAILED' or  messageTemplate= 'Otp is  verified {@VerifyOTPResponse}' or  loginResponse.MessageCode = 'GTP_INTERNETACCOUNTNOTFOUND' or  messageTemplate= 'Refresh token validation failed. aborting, {@details}' or  message = 'Invalid refresh token' or  loginResponse.MessageCode = 'INTERNET_RIGHT_NOT_FOUND' or  messageTemplate= 'Invalid refresh token' or (RequestPath = '/connect/token' and EventId.Name = 'RequestBody')"
                    }
                }
            ],
            "WriteTo": [{
                    "Name": "Elasticsearch",
                    "Args": {
                        "nodeUris": {{ printf "http://%s:%s@%s:9200" 
                             .Values.config.logging.elk.username 
                             .Values.config.logging.elk.password 
                             (include "identityserver.fullHostName" (dict "serviceName" .Values.config.logging.elk.host "suffix" .Values.global.commonSuffix)) | quote }},
                        "batchAction": "Create",
                        "indexFormat": {{ printf "%s-log-%s" .Values.config.env .Values.global.appName | quote }}, 
                        "customFormatter": "Serilog.Formatting.Elasticsearch.ElasticsearchJsonFormatter, Serilog.Formatting.Elasticsearch",
                        "autoRegisterTemplate": true,
                        "typeName": null,
                        "detectElasticsearchVersion": true,
                        "InlineFields": true
                    }
                }
            ]
      },
      "AllowedHosts": "*",
      "VirtualDirectory": "",
      "MssqlDbConfig": {
        "ConnectionString": "Application Name=xHCP.Conn.Mssql.Test;data source=10.0.155.5;initial catalog=gtpbrdbtsdev;user id=10.0.155.5;Password=10.0.155.5;persist security info=True;"
      },
      "AltibaseDbConfig": {
        "ConnectionString": "DSN=altibase.common;uid=XMOBILE;pwd=XMOBILE;NLS_USE=UTF8;PORT=20300;Pooling=true;ConnectionLifetime=15;",
        "InitialCatalog": "XMOBILE",
        "CacheEnvironment": "X"
      },
      "Redis": {
        "Host": {{ include "identityserver.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
        "Port": {{ .Values.config.redis.port }},
        "Password": "{{ .Values.config.redis.password }}",
        "AllowAdmin": false,
        "ClientName": "Identityserver",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false,
        "Configuration": {{ printf "%s:%s,connectTimeout=10000,syncTimeout=10000" 
                             (include "identityserver.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix))
                             (.Values.config.redis.port | toString) | quote }}
      },
      "RedisLoginHistory": {
        "Name": "RedisBackoffice",
        "Host": {{ include "identityserver.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
        "Port": {{ .Values.config.redis.port }},
        "Password": "{{ .Values.config.redis.password }}",
        "AllowAdmin": false,
        "ClientName": "Backoffice",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false
      },
      {{- if .Values.config.kafka.securityEnabled -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "groupid": "",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true,
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      {{- else }}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}",
        "groupid": "",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true,
      },
      {{- end }}
    }
