apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "identityserver.configMapName" . }}
  namespace: {{ .Values.global.namespace }}
data:
  {{ .Values.global.appPrefix }}-identityserver-appsettings.k8s.json: |
    {
      "IdentityServerMarketSettings": {
        "Url": "https://testauthio.tradesoft.com.tr",
        "ClientId": "",
        "ClientSecret": "58555c13d5fc468681278f3de89d97ba"
      },
      "RbApiClient": {
          "URL": "http://haproxy.common:8080/RBApi/"
        },
      "TSAuthAPIClientSettings": {
        "Name": "TSAuthAPIClient",
        "Url": "https://ts.tradesoft.com.tr/MobSSO/"
      },
      "NotificationAPIClientSettings": {
        "Name": "NotificationAPIClient",
        "Url": "http://"
      },
      "IdentityServerUIRedirectUris": "",
      "IdentityServer": {
        "Uri": "",
        "Issuer": "",
        "ClientId": "",
        "ClientSecret": "",
        "SSO": true
      },
      "IdentityServerSettings": {
        "AesKey": "yqqNakaqF53IFP2RDXhI9llWhNhXhgYh",
        "OTPExpSeconds": 120
      },
      "TFACredentialSettings": {
        "AccountTitle": "xMobile",
        "SecretKey": "f68f1fe894d548a1bbc66165c46e61eb"
      },
      "DataSource": "Altibase",
      "Serilog": {
        "MinimumLevel": {
          "Default": "Information",
          "Override": {
            "Microsoft": "Warning",
            "System": "Warning",
            "Microsoft.AspNetCore.HttpLogging": "Information",
            "Microsoft.AspNetCore.Hosting.Diagnostics": "Warning",
            "Microsoft.AspNetCore.Mvc.Infrastructure": "Warning",
            "Microsoft.AspNetCore.Routing": "Warning",
            "IdentityServer4.Endpoints.IntrospectionEndpoint": "Warning",
            "IdentityServer4.Hosting.IdentityServerMiddleware": "Warning",            
            "IdentityServer4.Services.DefaultTokenCreationService" : "Warning"
          }
        },
      "Filter": [
        {
          "Name": "ByExcluding",
          "Args": {
            "expression": "RequestPath = '/connect/introspect' or RequestPath = '/.well-known/openid-configuration/jwks' or RequestPath = '/.well-known/openid-configuration'"
          }
        }
      ]        
      },
      "Logging": {
        "ELK": {
          "Enabled": {{ .Values.config.logging.elk.enabled }},
          "Url": {{ printf "http://%s:%s@%s:9200" 
                             .Values.config.logging.elk.username 
                             .Values.config.logging.elk.password 
                             (include "identityserver.fullHostName" (dict "serviceName" .Values.config.logging.elk.host "suffix" .Values.global.commonSuffix)) | quote }},
          "Username": "{{ .Values.config.logging.elk.username }}",
          "Password": "{{ .Values.config.logging.elk.password }}"
        },
        "LogLevel": {
          "Default": "Information",
          "Microsoft": "Warning",
          "Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware": "Information"
        }
      },
      "Telemetry": {
        "Metrics": {
          "Enabled": false,
          "HttpMetricsEnabled": true,
          "AspnetCoreEnabled": true,
          "RuntimeEnabled": true
        },
        "Tracing": {
          "Enabled": false,
          "AgentHost": "172.16.208.176",
          "AgentPort": 14268,
          "Endpoint": "http://172.16.208.176:14268/api/traces"
        }
      },
      "AllowedHosts": "*",
      "VirtualDirectory": "",
      "MssqlDbConfig": {
        "ConnectionString": "Application Name=xHCP.Conn.Mssql.Test;data source=10.0.155.5;initial catalog=gtpbrdbtsdev;user id=10.0.155.5;Password=10.0.155.5;persist security info=True;"
      },
      "AltibaseDbConfig": {
        "ConnectionString": "DSN=altibase.common;uid=XMOBILE;pwd=XMOBILE;NLS_USE=UTF8;PORT=20300;Pooling=true;ConnectionLifetime=15;",
        "InitialCatalog": "XMOBILE",
        "CacheEnvironment": "X"
      },
      "Redis": {
        "Host": {{ include "identityserver.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
        "Port": {{ .Values.config.redis.port }},
        "Password": "{{ .Values.config.redis.password }}",
        "AllowAdmin": false,
        "ClientName": "Identityserver",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false,
        "Configuration": {{ include "identityserver.redisConfiguration" . }}
      },
      "RedisLoginHistory": {
        "Name": "RedisBackoffice",
        "Host": {{ include "identityserver.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
        "Port": {{ .Values.config.redis.port }},
        "Password": "{{ .Values.config.redis.password }}",
        "AllowAdmin": false,
        "ClientName": "Backoffice",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false
      },
      {{- if .Values.config.kafka.securityEnabled -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "groupid": "xHCP.tradesof-xhcp-identityserver",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true,
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      {{- else -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}",
        "groupid": "xHCP.tradesof-xhcp-identityserver",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true
      },
      {{- end }}
      "EnquraAPIClientSettings": {
        "Name": "EnquraAPIClient",
        "Url": "https://es1.enqura.com",
        "AppKey": "5408BE8976FD8744A89D8DCD50229C03E91B45D37994DB499DAEF991C50E48D6"
      }
    }