apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "xcmsweb.configMapName" . }}
  namespace: {{ .Values.global.namespace }}
data:
  {{ .Values.global.appPrefix }}-xcmsweb-appsettings.k8s.json: |
    {
      "AllowedHosts": "*",
      "Logging": {
        "LogLevel": {
          "Default": "Information",
          "Microsoft.AspNetCore": "Warning",
          "Microsoft.Hosting.Lifetime": "Information"
        }
      },
      "RbApiClient": {
          "URL": "http://haproxy:8080/RBApi/"
        },
      "ConnectionStrings": {
        "DefaultConnection": "data source=;persist security info=True;initial catalog=;user id=;password=;TrustServerCertificate=True;",
        "AzureAccessKey": "DefaultEndpointsProtocol=https;AccountName=tradesoftxhcpstorage;AccountKey=;EndpointSuffix=core.windows.net;"
      },
      "MailSettings": {
        "From": "no-reply@tradesoft.com.tr",
        "FromDisplayName": "Tradesoft",
        "Host": "mail.tradesoft.com.tr",
        "Port": "587",
        "User": "no-reply",
        "Password": ""
      },
      "RedisSettings": {    
        "Host": "{{ .Values.config.redis.host }}",
        "Port": {{ .Values.config.redis.port }},
        "Password": {{ if .Values.config.redis.password }}"{{ .Values.config.redis.password }}"{{ else }}null{{ end }},
        "AllowAdmin": true,
        "ClientName": "CmsWeb",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false
      },
      "IdentityConfigurations": {
        "RequiredLength": 8,
        "MaxFailedAccessAttempts": 5,
        "RequireLowercase": true,
        "RequireUppercase": true,
        "RequireDigit": true,
        "RequireNonAlphanumeric": false,
        "RequireConfirmedAccount": true,
        "DefaultLockoutTimeSpan": 30
      },
      "RequireConfirmedMail": true,
      "CmsApi": "http://tradesoft-xhcp-cmsapi/",
      "NotificationApi": "http://tradesoft-xhcp-notification/",
      "UploadPath": "tradesoft.com",
      "UploadDomain": "/icons",
      "VirtualDirectory": "/xcms",
      "DefaultLicenceCodeForUseReport": "REALTIME_PRICES_MIXED",
      "SSO": {
        "IdentityServerUri": "https:///",
        "ClientId": "xhcp.cms",
        "ClientSecret": "595f619bd4a9408f93854a633b5d8c18",
        "GrantType": "client_credentials"
      },
      "StorageOptions": {
        "Host": "https://tradesoftxhcpstorage.blob.core.windows.net/",
        "Container": "cdn",
        "Company": "/YfTest"
      }
    }