# alertservice/values.yaml

global:
  # Kubernetes Namespace'i (Örnek: yf-xhcp-test'e göre güncellendi)
  namespace: xhcp
  # Deployment, Service, Label ve Selector adı
  appName: tradesoft-xhcp-alertservice
  # ConfigMap adı ve volumeMount subPath'i için kullanılan prefix (yf-config-test'e göre güncellendi)
  appPrefix: tradesoft-xhcp
  # Ortak Altyapı Servisleri için Domain Soneki
  commonSuffix: common # Yeni ConfigMap'teki Kafka/Redis hostları '.common' ile bitiyor.

replicaCount: 1 # Deployment dosyanızda 1

image:
  repository: io.tradesoft.com.tr/xhcp/alertservice # Yeni imaj adı
  tag: dev
  pullPolicy: Always # Deployment dosyanızda Always

# Konfigürasyon Ayarları
config:
  # ENV değişkenleri için referans alınan ConfigMap'in adı (yf-config-test'e göre güncellendi, ancak dinamik hale getirelim)
  configMapKeyRefName: tradesoft-xhcp-test # Dinamik ad (helper'dan gelecek)
  
  # ----------------------------------------------------
  # ConfigMap İçindeki Değişkenler (Vault/Ortam Bağımlı)
  # ----------------------------------------------------
  
  # Loglama Ayarları
  logging:
    elk:
      enabled: true
      host: elasticsearch # Host adı
      username: elastic
      # VAULT YOLU GÜNCELLENDİ (alertservice için yeni yol)
      password: "<path:xhcp-test-alertservice/data/values/#loggingElkPassword>" 
      
  # Kafka Ayarları
  kafka:
    # Kafka şifreli ise 'true', değilse 'false'. ConfigMap içeriğini değiştirir.
    securityEnabled: false # Örnek ConfigMap'te secure ayarlar var.
    secure:
      # VAULT YOLLARI GÜNCELLENDİ
      bootstrapservers: "<path:xhcp-test-alertservice/data/values/#configKafkaSecureBootstrapservers>"
      saslpassword: "<path:xhcp-test-alertservice/data/values/#configKafkaSecureSaslpassword>" 
      saslusername: "<path:xhcp-test-alertservice/data/values/#configKafkaSecureSaslusername>"
    insecure:
      bootstrapservers: "<path:xhcp-test-alertservice/data/values/#configKafkaInsecureBootstrapservers>"

  # Redis Ayarları
  redis:
    host: haproxy
    port: 6379
    # VAULT YOLU GÜNCELLENDİ
    password: "<path:xhcp-test-alertservice/data/values/#redisPassword>" 

# Kubernetes Kaynak Limitleri
# Deployment dosyanızda resources: {} olduğu için varsayılanı kullanıyoruz
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 25m
    memory: 128Mi

# Ingress Ayarları
ingress:
  enabled: false 
  host: "<path:xhcp-test-alertservice/data/values/#ingressHost>"
  rewriteTarget: /$2
