apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "messaging.configMapName" . }}
  namespace: {{ .Values.global.namespace }}
data:
  {{ .Values.global.appPrefix }}-messaging-appsettings.k8s.json: |
    {
      "Logging": {
            "LogLevel": {
                "Default": "Information",
                "Microsoft": "Warning",
                "Microsoft.Hosting.Lifetime": "Information"
            }
        },
        "Serilog": {
            "Using": [
                "Serilog.Sinks.Elasticsearch"
            ],
            "MinimumLevel": {
                "Default": "Information",
                "Override": {
                    "Microsoft": "Warning",
                    "System": "Warning",
                    "Microsoft.AspNetCore.HttpLogging": "Information",
                    "Microsoft.AspNetCore.Hosting.Diagnostics": "Information",
                    "Microsoft.AspNetCore.Mvc.Infrastructure": "Warning",
                    "Microsoft.AspNetCore.Routing": "Warning"
                }
            },
            "WriteTo": [{
                    "Name": "Elasticsearch",
                    "Args": {
                        "nodeUris": {{ printf "http://%s:%s@%s:9200" 
                             .Values.config.logging.elk.username 
                             .Values.config.logging.elk.password 
                             (include "messaging.fullHostName" (dict "serviceName" .Values.config.logging.elk.host "suffix" .Values.global.commonSuffix)) | quote }},
                        "batchAction": "Create",
                        "indexFormat": {{ printf "%s-log-%s" .Values.config.env .Values.global.appName | quote }}, 
                        "customFormatter": "Serilog.Formatting.Elasticsearch.ElasticsearchJsonFormatter, Serilog.Formatting.Elasticsearch",
                        "autoRegisterTemplate": true,
                        "typeName": null,
                        "detectElasticsearchVersion": true,
                        "InlineFields": true
                    }
                }
            ]
      },
      "RbApiClient": {
        "URL": {{ printf "http://%s:8080/RBApi/" (include "messaging.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix)) | quote }}
      },
      "MessagingServiceSettings": {
        "Sms": {
          "Provider": "{{ .Values.config.messagingService.sms.provider }}",
          "Enable": {{ .Values.config.messagingService.sms.enable }}
        },
        "Email": {
          "Provider": "{{ .Values.config.messagingService.email.provider }}",
          "Enable": {{ .Values.config.messagingService.email.enable }}
        },
        "Notification": {
          "Provider": "{{ .Values.config.messagingService.notification.provider }}",
          "Enable": {{ .Values.config.messagingService.notification.enable }}
        }
      },

      "PostaGuverciniSettings": {
        "Endpoint": "{{ .Values.config.postaGuvercini.endpoint }}",
        "Username": "{{ .Values.config.postaGuvercini.username }}",
        "Password": "{{ .Values.config.postaGuvercini.password }}",
      },

      "SmartMessageSettings": {
        "BaseAddress": "{{ .Values.config.smartMessage.baseAddress }}",
        "TokenPath": "{{ .Values.config.smartMessage.tokenPath }}",
        "SmsPath": "{{ .Values.config.smartMessage.smsPath }}",
        "Email": "{{ .Values.config.smartMessage.email }}",
        "Password": "{{ .Values.config.smartMessage.password }}",
        "ClientId": "{{ .Values.config.smartMessage.clientId }}",
        "ClientSecret": "{{ .Values.config.smartMessage.clientSecret }}",
        "TransactionId": "{{ .Values.config.smartMessage.transactionId }}",
        "Operator": "{{ .Values.config.smartMessage.operator }}"
      },

      "DengageSettings": {
        "BaseAddress": "{{ .Values.config.dengage.baseAddress }}",
        "TokenPath": "{{ .Values.config.dengAGE.tokenPath }}",
        "SmsPath": "{{ .Values.config.dengAGE.smsPath }}",
        "Username": "{{ .Values.config.dengage.username }}",
        "Password": "{{ .Values.config.dengage.password }}",
        "AccountId": {{ .Values.config.dengage.accountId }},
        "SmsTrustDay": {{ .Values.config.dengage.smsTrustDay }},
        "SmsType": "{{ .Values.config.dengage.smsType }}",
        "PoolId": {{ .Values.config.dengage.poolId }},
        "PreventDuplicate": {{ .Values.config.dengage.preventDuplicate }},
        "Timeout": {{ .Values.config.dengage.timeout }}
      },
      {{- if .Values.config.kafka.securityEnabled -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "groupid": "xHCP.tradesoft-xhcp-messaging",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true,
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      {{- else -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}",
        "groupid": "xHCP.tradesoft-xhcp-messaging",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true
      },
      {{- end }}
      "MssqlDbConfig": {
        "ConnectionString": "Application Name=xHCP.Conn.Mssql.Test;data source=10.0.155.5;initial catalog=gtpbrdbtsdev;user id=10.0.155.5;Password=10.0.155.5;persist security info=True;"
      },
      "AltibaseDbConfig": {
        "ConnectionString": "DSN=altibase.common;uid=XMOBILE;pwd=XMOBILE;NLS_USE=UTF8;PORT=20300;Pooling=true;ConnectionLifetime=15;",
        "InitialCatalog": "XMOBILE",
        "CacheEnvironment": "X"
      },
      "Redis": {
        "Host": {{ include "messaging.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
        "Port": {{ .Values.config.redis.port }},
        "Password": "{{ .Values.config.redis.password }}",
        "AllowAdmin": false,
        "ClientName": "Messaging",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false,
        "Configuration": {{ include "messaging.redisConfiguration" . }}
      }
    }