apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "contractapi.configMapName" . }}
  namespace: {{ .Values.global.namespace }}
data:
  {{ .Values.global.appPrefix }}-contractapi-appsettings.k8s.json: |
    {
      "Logging": {
            "LogLevel": {
                "Default": "Information",
                "Microsoft": "Warning",
                "Microsoft.Hosting.Lifetime": "Information"
            }
        },
        "Serilog": {
            "Using": [
                "Serilog.Sinks.Elasticsearch"
            ],
            "MinimumLevel": {
                "Default": "Information",
                "Override": {
                    "Microsoft": "Warning",
                    "System": "Warning",
                    "Microsoft.AspNetCore.HttpLogging": "Information",
                    "Microsoft.AspNetCore.Hosting.Diagnostics": "Information",
                    "Microsoft.AspNetCore.Mvc.Infrastructure": "Warning",
                    "Microsoft.AspNetCore.Routing": "Warning"
                }
            },
            "WriteTo": [{
                    "Name": "Elasticsearch",
                    "Args": {
                        "nodeUris": {{ printf "http://%s:%s@%s:9200" 
                             .Values.config.logging.elk.username 
                             .Values.config.logging.elk.password 
                             (include "contractapi.fullHostName" (dict "serviceName" .Values.config.logging.elk.host "suffix" .Values.global.commonSuffix)) | quote }},
                        "batchAction": "Create",
                        "indexFormat": {{ printf "%s-log-%s" .Values.config.env .Values.global.appName | quote }}, 
                        "customFormatter": "Serilog.Formatting.Elasticsearch.ElasticsearchJsonFormatter, Serilog.Formatting.Elasticsearch",
                        "autoRegisterTemplate": true,
                        "typeName": null,
                        "detectElasticsearchVersion": true,
                        "InlineFields": true
                    }
                }
            ]
      },
      "RbApiClient": {
        "URL": {{ printf "http://%s:8080/RBApi/" (include "contractapi.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix)) | quote }}
      },
      "IdentityServer": {
        "Uri": "http://tradesoft-xhcp-identityserver",
      },
      "ReportApiSettings": { 
        "Name": "ReportAPIClient",
        "URL": {{ printf "http://%s:8080/ReportApi/" (include "contractapi.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix)) | quote }}
      },
      "NotificationAPIClientSettings": {
        "Name": "NotificationAPIClient",
        "Url": "http://tradesoft-xhcp-notificationapi/"
      },
      "Redis": {
        "Host": {{ include "contractapi.fullHostName" (dict "serviceName" .Values.config.redis.host "suffix" .Values.global.commonSuffix) | quote }},
        "Port": {{ .Values.config.redis.port }},
        "Password": "{{ .Values.config.redis.password }}",
        "AllowAdmin": false,
        "ClientName": "Contractapi",
        "ReconnectRetryPolicy": 5000,
        "AbortOnConnectFail": false
      },
      {{- if .Values.config.kafka.securityEnabled -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.secure.bootstrapservers }}",
        "groupid": "",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true,
        "saslmechanism": "ScramSha512",
        "saslpassword": "{{ .Values.config.kafka.secure.saslpassword }}",
        "saslusername": "{{ .Values.config.kafka.secure.saslusername }}",
        "securityprotocol": "SaslPlaintext"
      },
      {{- else -}}
      "KafkaProducer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}"
      },
      "KafkaConsumer": {
        "bootstrapservers": "{{ .Values.config.kafka.insecure.bootstrapservers }}",
        "groupid": "",
        "enableautocommit": true,
        "statisticsintervalms": 5000,
        "sessiontimeoutms": 6000,
        "autooffsetreset": 0,
        "enablepartitioneof": true
      },
      {{- end }}
      "MssqlDbConfig": {
        "ConnectionString": "Application Name=xHCP.Conn.Mssql.Test;data source=10.0.155.5;initial catalog=gtpbrdbtsdev;user id=GTPDB;Password=GTPDB;persist security info=True;"
      },
      "AltibaseDbConfig": {
        "ConnectionString": "DSN=altibase.common;uid=XMOBILE;pwd=XMOBILE;NLS_USE=UTF8;PORT=20300;Pooling=true;ConnectionLifetime=15;", 
        "InitialCatalog": "XMOBILE",
        "CacheEnvironment": "X"
      },
      "AllowedHosts": "*",
      "VirtualDirectory": "",
      "StorageSettings": {
        "Enabled": true,
        "SSL": true,
        "Endpoint": "{{ .Values.config.storage.endpoint }}",
        "AccessKey": "{{ .Values.config.storage.accessKey }}",
        "SecretKey": "{{ .Values.config.storage.secretKey }}"
      },
    }