global:
  namespace: xhcp 
  appName: tradesoft-xhcp-createaccountapi 
  appPrefix: tradesoft-xhcp
  commonSuffix: common

replicaCount: 1 

image:
  repository: io.tradesoft.com.tr/xhcp/createaccountapi 
  tag: dev 
  pullPolicy: Always

config:
  env: test
  configMapKeyRefName: xhcp-config-test 
  
  # ----------------------------------------------------
  # ConfigMap İçindeki Değişkenler (Vault/Ortam Bağımlı)
  # ----------------------------------------------------
  
  logging:
    elk:
      enabled: true
      host: elasticsearch 
      username: elastic
      password: "<path:xhcp-test/data/values/#loggingElkPassword>"
      
  kafka:
    securityEnabled: false
    secure:
      bootstrapservers: "<path:xhcp-test/data/values/#configKafkaSecureBootstrapservers>"
      saslpassword: "<path:xhcp-test/data/values/#configKafkaSecureSaslpassword>" 
      saslusername: "<path:xhcp-test/data/values/#configKafkaSecureSaslusername>"
    insecure: 
      bootstrapservers: "<path:xhcp-test/data/values/#configKafkaInsecureBootstrapservers>"
    
  redis:
    host: haproxy
    port: 6379
    password: "<path:xhcp-test/data/values/#redisPassword>"

  storage:
    endpoint: "<path:xhcp-test/data/values/#minioUrl>"
    accessKey: "<path:xhcp-test/data/values/#minioAccessKey>"
    secretKey: "<path:xhcp-test/data/values/#minioSecretKey>"
    privateLBIP: 10.10.10.10

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 20m
    memory: 128Mi 

ingress:
  enabled: true
  host: "<path:xhcp-test/data/values/#ingressHost>"