apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.configMap.namespace }}
data:
  Company: {{ .Values.company }}

  DataSource: {{ .Values.dataSource.type }}
  DataSourceConfig__Source: {{ .Values.dataSource.source }}

  ConnectionStrings__DbContext: {{ printf "Host=%s;Database=%s;Username=%s;Password=%s;Maximum Pool Size=%d;Minimum Pool Size=%d;Connection Idle Lifetime=%d;Connection Pruning Interval=%d;Application Name=%s;"
    (include "hostWithSuffix" (dict "hostPrefix" .Values.connectionStrings.host "commonSuffix" .Values.global.commonSuffix "port" (.Values.connectionStrings.port | toString)))
    "XMOBILE"
    .Values.connectionStrings.username
    .Values.connectionStrings.password
    20
    1
    300
    10
    "xHcp" | quote }}

  AltibaseDbConfig__ConnectionString: {{ .Values.altibase.connectionString }}

  IdentityServer__Uri: {{ .Values.identityServer.uri }}

  KafkaProducer__bootstrapservers: {{ .Values.kafka.producerBootstrap }}
  KafkaConsumer__bootstrapservers: {{ .Values.kafka.consumerBootstrap }}

  Logging__ELK__Enabled: {{ .Values.elk.enabled }}
  Logging__ELK__Url: {{ printf "http://%s:%s@%s:9200" 
                             .Values.elk.username 
                             .Values.elk.password 
                             (include "centralconfig.fullHostName" (dict "serviceName" .Values.elk.host "suffix" .Values.global.commonSuffix)) | quote }}
  Logging__ELK__Username: {{ .Values.elk.username }}
  Logging__ELK__Password: {{ .Values.elk.password }}

  Redis__Configuration: {{ printf "%s:%s,connectTimeout=10000,syncTimeout=10000" 
                             (include "centralconfig.fullHostName" (dict "serviceName" .Values.redis.host "suffix" .Values.global.commonSuffix))
                             (.Values.redis.port | toString) | quote }}
  Redis__DbId: {{ .Values.redis.dbId }}
  Redis__Host: {{ include "centralconfig.fullHostName" (dict "serviceName" .Values.redis.host "suffix" .Values.global.commonSuffix) | quote }}
  Redis__Password: {{ .Values.redis.password }}
  Redis__Port: {{ .Values.redis.port }}
  {{- if .Values.config.isProd }}
  PDApiClientSettings__URL: https://io.tradesoft.com.tr/price/
  {{- else }}
  PDApiClientSettings__URL: https://testio.tradesoft.com.tr/price/
  {{- end }}
  RbApiClient__URL: {{ printf "http://%s:8080/RBApi/" (include "centralconfig.fullHostName" (dict "serviceName" .Values.redis.host "suffix" .Values.global.commonSuffix)) | quote }}

  ReportApiSettings: {{ printf "http://%s:8080/ReportApi/" (include "centralconfig.fullHostName" (dict "serviceName" .Values.redis.host "suffix" .Values.global.commonSuffix)) | quote }}
  ReportApiSettings__URL: {{ printf "http://%s:8080/ReportApi/" (include "centralconfig.fullHostName" (dict "serviceName" .Values.redis.host "suffix" .Values.global.commonSuffix)) | quote }}
